<app-auth-nav></app-auth-nav>


<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Welcome to FlightLog Server!</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h2>User Detail</h2>
          <p>Manage all user accounts.</p>
          <a routerLink="/user" class="btn btn-primary">
            Enter
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h2>Flight Log</h2>
          <p>Manage data of flightlog entries.</p>
          <a routerLink="/flight" class="btn btn-primary">
            Enter
          </a>
        </div>
      </div>
      
    </div>
  </div>
